.block {
    width: 500px;
    height: 500px;
    border: 3px dashed #000;
    padding: 50px;
    margin: 0 auto;
}

.box {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 1px solid #000;
    margin: 5px;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
}

.box {
  /* width: 300px;
  height: 300px; */
  /* transform: scale(1); */
  /* transform: rotate(0deg); */
  background-color: #f99;
  /* transition-property: background-color;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out; */
  /* transition: background-color 400ms; */
  transition: transform 400ms;
  /* transform: translateY(200px); */
  /* transform: translate(-50px,-50px); */

}



.box:hover {
  /* transform: scale(1.02); */
  /* width: 105px;
  height: 105px; */
  /* transform: rotate(360deg); */
  transform: skew(180deg, 180deg);
  /* background-color: #c23939; */
}
