h1 {
  margin-top: 100px;
  text-align: center;
  position: relative;
}

h1::before {
  /*  this could a small triangle pointing down to heading  */
}

h1::after {
  /* content:'some text', */
  content: attr(data-tooltip);
  position: absolute;
  border-radius: 5px;
  width: 200px;
  padding: 10px;
  bottom: 100%;
  left: calc(50% - 100px);
  font-size: 12px;
  background-color: #000;
  color: #fff;
  text-transform: capitalize;
  opacity: 0;
  transition: opacity 400ms;
}

h1:hover::after {
  opacity: 1;
}
