figure {
   width: 300px;
   position: relative;
   margin: 0 auto;
}

figure::after {
  content: '';
  display: block;
  width: 300px;
  height: 300px;
  background-color: #f50505;
  position: absolute;
  top: 0;
  left: 0;
  /* opacity: 0; */
  /* transition: opacity 400ms; */
  transform: scale(0) rotate(0deg);
  transition: transform 400ms ease-out;
  opacity: 0.5;
}

figure:hover::after {
  /* opacity: 0.5 */
  transform: scale(1) rotate(360deg);
}
